.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

.group:before,
.group:after {
    content:"";
    display:table;
}

.group:after {
    clear:both;
}

.col {
	display: block;
	float: left;
	margin: 0.2%;
	padding: 0.5%;
	text-align: center;
}

@media only screen and (max-width: 480px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
}


/* ADDITIONAL CLASSES FOR FRONTEND CHALLANGE TASK */

.header {
	padding: 3em 0;
}

.footer {
	padding: 2em 0;
}

.grey {
	background-color: #ccc;
}

.display {
	width: 23.6%;
    height: 24.9vw;
	background-color: #E6B81A;
	font-size: 1.2rem;
}

.img {
    margin: 0;
}

.color-gold {
	background-color: #E6B81A;
}

.text-box {
	margin: 0;
	padding: 0;
	text-align: left;
}

